spring:
  data:
    mongodb:
      host: localhost
      port: 27017
      database: testdb
      username: test
      password: 123456
  main:
    allow-bean-definition-overriding: true

server:
  port: 8083
