version: "3.8"

services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: test
      MONGO_INITDB_ROOT_PASSWORD: 123456
    ports:
      - "27017:27017"
    volumes:
      - ./mongo-data:/data/db
      - ./mongo-init:/docker-entrypoint-initdb.d
      - ./mongo-log:/var/log/mongodb
    networks:
      - mongo-net

  mongo-express:
    image: mongo-express:1.0.0
    container_name: mongo-express
    restart: always
    depends_on:
      - mongodb
    ports:
      - "8081:8081" # 瀏覽器訪問 http://localhost:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: test
      ME_CONFIG_MONGODB_ADMINPASSWORD: 123456
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_BASICAUTH_USERNAME: admin # 登入 mongo-express 的帳號
      ME_CONFIG_BASICAUTH_PASSWORD: admin123 # 登入 mongo-express 的密碼
    networks:
      - mongo-net

networks:
  mongo-net:
    driver: bridge
